html {
  overflow: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  background-color: #292927;
  border-radius: 0.5rem;
  height: 28rem;
  width: 18rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.display {
  overflow: hidden;
  background-color: #007f00;
  height: 5rem;
  width: 88%;
  border-radius: 0.25rem;
  margin: 1.3rem 0 0 0;
  display: flex;
  justify-content: flex-start;
  align-items: start;
  font-family: "Anta", sans-serif;
  font-size: 1.5rem;
}

.buttons {
  height: 22rem;
  width: 90%;
  margin: 0.75rem 0 0 0;
}

.buttons-row1 {
  display: flex;
  justify-content: space-between;
}

.buttons-row1 button {
  height: 3.5rem;
  width: 3.5rem;
}

.buttons-row1 button:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons-row2 {
  display: flex;
  justify-content: space-between;
}

.buttons-row2 button {
  height: 3.5rem;
  width: 3.5rem;
}

.buttons-row3 {
  display: flex;
  justify-content: space-between;
}

.buttons-row3 button {
  height: 3.5rem;
  width: 3.5rem;
}

.buttons-row4 {
  display: flex;
  justify-content: space-between;
}

.buttons-row4 button {
  height: 3.5rem;
  width: 3.5rem;
}

.buttons-row5 {
  display: flex;
  justify-content: space-between;
}

.buttons-row5 button {
  height: 3.5rem;
  width: 3.5rem;
}

.buttons-row5 button:first-child {
  width: 7.5rem;
}
