body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  background-color: #292927;
  border-radius: 0.25rem;
  height: 30rem;
  width: 18rem;
  display: flex;
  justify-content: center;
}

.display {
  margin: 1.2rem 0 0 0;
  background-color: red;
  height: 100px;
  width: 90%;
  border-radius: 2px;
}

.buttons {
  border: black solid 2px;
  height: 100px;
}
