body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  height: 75vh;
  width: 18rem;
  border-radius: 0.25rem;
  background-color: #292927;
}

.calculator-screen {
  border-radius: 0.25rem 0.25rem 0 0;
  height: 100px;
  background-color: #ff9500;
}
