.calcContainer {
  background-color: #292927;
  border-radius: 8px;
  height: 585px;
  width: 350px;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calcScreen {
  height: 120px;
  width: 95%;
  background-color: #007f00;
  border-radius: 8px;
  margin: 10px 0 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.calcScreen > div {
  padding: 5px 12px;
}

.eqn {
  display: flex;
  justify-content: left;
  font-size: 32px;
}

.ans {
  display: flex;
  justify-content: right;
  font-size: 32px;
}

.calcButtons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-top: 5px;
}

.wideButton {
  grid-column: span 2;
}
