.calcContainer {
  background-color: rgb(114, 114, 114);
  border-radius: 8px;
  height: 600px;
  width: 340px;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.calcScreen {
  height: 120px;
  width: 340px;
  background-color: rgb(93, 255, 0);
  border-radius: 12px;
}
